.RadTreeView_Cosmopolitan
{
	font: 13px Arial, sans-serif;
}
.RadTreeView_Cosmopolitan .rtLI .rtIn
{
    padding:3px 5px;
	color:#000;
	border:none;
}
.RadTreeView_Cosmopolitan .rtLI .rtHover .rtIn
{
    color:#FFF;
	background:#E15E32;
}
.RadTreeView_Cosmopolitan .rtSelected .rtIn,
.RadTreeView_Cosmopolitan .rtSelected.rtHover .rtIn
{
    color:#FFF;
	background: #A82743;
}
.RadTreeView_Cosmopolitan .rtSelected .rtLoadingBefore,
.RadTreeView_Cosmopolitan .rtSelected .rtLoadingAfter,
.RadTreeView_Cosmopolitan .rtSelected .rtLoadingBelow
{
	color: #999;
}
.RadTreeView_Cosmopolitan .rtLI .rtEdit .rtIn
{
	border-color: #6c6c6c;
	background: #fff;
}
.RadTreeView_Cosmopolitan_disabled .rtIn,
.RadTreeView_Cosmopolitan .rtDisabled .rtIn
{
	color: #ccc;
}



/* backgrounds */

.RadTreeView_Cosmopolitan .rtPlus, 
.RadTreeView_Cosmopolitan .rtMinus
{
	background-image: url('TreeView/PlusMinus.png');
}

.RadTreeView_Cosmopolitan .rtLI .rtPlus, 
.RadTreeView_Cosmopolitan .rtLI .rtPlus:hover
{ background-position: 0 0; }

.RadTreeView_Cosmopolitan .rtLI .rtMinus, 
.RadTreeView_Cosmopolitan .rtLI .rtMinus:hover
{ background-position: 0 -11px; }

.RadTreeView_Cosmopolitan .rtChecked,
.RadTreeView_Cosmopolitan .rtUnchecked,
.RadTreeView_Cosmopolitan .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}
.RadTreeView_Cosmopolitan .rtLoadingIcon
{
	background-image: url('TreeView/LoadingIcon.gif');
}


/* <node lines> */

.RadTreeView_Cosmopolitan .rtLines .rtLI,
.RadTreeView_Cosmopolitan .rtLines .rtFirst .rtUL { background-image: url('TreeView/NodeSpan.png'); }
.RadTreeView_Cosmopolitan_rtl .rtLines .rtLI,
.RadTreeView_Cosmopolitan_rtl .rtLines .rtFirst .rtUL { background-image:url('TreeView/NodeSpan_rtl.png'); }

.RadTreeView_Cosmopolitan .rtLines .rtFirst,
.RadTreeView_Cosmopolitan .rtLines .rtFirst .rtUL { background-image: url('TreeView/FirstNodeSpan.png'); }
.RadTreeView_Cosmopolitan_rtl .rtLines .rtFirst,
.RadTreeView_Cosmopolitan_rtl .rtLines .rtFirst .rtUL { background-image: url('TreeView/FirstNodeSpan_rtl.png'); }
.RadTreeView_Cosmopolitan .rtLines .rtLast,
.RadTreeView_Cosmopolitan .rtLines .rtLast .rtUL { background-image: none; }

.RadTreeView_Cosmopolitan .rtLines .rtTop { background-image:url('TreeView/TopLine.png'); }
.RadTreeView_Cosmopolitan_rtl .rtLines .rtTop { background-image:url('TreeView/TopLine_rtl.png'); }
.RadTreeView_Cosmopolitan .rtLines .rtMid { background-image:url('TreeView/MiddleLine.png'); }
.RadTreeView_Cosmopolitan_rtl .rtLines .rtMid { background-image:url('TreeView/MiddleLine_rtl.png'); }
.RadTreeView_Cosmopolitan .rtLines .rtBot { background-image:url('TreeView/BottomLine.png'); }
.RadTreeView_Cosmopolitan_rtl .rtLines .rtBot { background-image: url('TreeView/BottomLine_rtl.png'); }
.RadTreeView_Cosmopolitan .rtLines .rtLast .rtTop { background-image:url('TreeView/SingleLine.png'); }
.RadTreeView_Cosmopolitan_rtl .rtLines .rtLast .rtTop { background-image:url('TreeView/SingleLine_rtl.png'); }

/* </node lines> */