@{
    ViewBag.Title = "ForgetPassword";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#usertype").change(function () {
                if ($(this).val() == '1') {
                    $("#emailaddressDiv").slideDown();
                } else {
                    $("#emailaddressDiv").slideUp();
                }
            });
            $('#btnSubmit').click(function () {
                $.ajax({
                    type: 'post',
                    url: '/home/postforgetpassword',
                    data: { usertype:$("#usertype").val(), loginID: $('#loginID').val(), email: $("#email").val() }
                }).done(function (data) {
                    alert(data.Message);
                });
            });
        });
    </script>
}
<div class="container-fluid">
    <h1 class="page-header">ForgetPassword</h1>
    <form>
        <div class="form-group">
            <label for="usertype">User Type</label>
            <select id="usertype" name="usertype">
                <option value="1">Individual</option>
                <option value="2">HR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="loginID">ID NUMBER</label>
            <input type="text" class="form-control" id="loginID" name="loginID" placeholder="loginID">
        </div>
        <div class="form-group" id="emailaddressDiv">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email">
        </div>

        <input type="button" class="btn btn-default" value="Submit" id="btnSubmit" />
    </form>
</div>

